:root {
  --goBeyondGradient: linear-gradient(90deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.5)), linear-gradient(90deg,#737eb3,#8b5d9b 39%,#c29f5c 70%,#aa772a 103%);
}

.btn-video-bg {
  background-image: linear-gradient(hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .8)), var(--goBeyondGradient);
  font-weight: 500;

  &:hover {
    background-image: linear-gradient(hsla(0, 0%, 100%, .66), hsla(0, 0%, 100%, .66)), var(--goBeyondGradient);
  }
}

.hero-bg-grd {
  animation: heroText 0.5s ease-in-out;
  animation-fill-mode: forwards;
  background-size: 300% 300%;
  background-position: bottom;
  background-image: linear-gradient(#250436, #400c5a, #0b2879, #fff, #fff);
}

@keyframes heroText {
  to {
    background-position: top;
  }
}