.group {
  animation: scroll-border forwards 0.1s;
  animation-timeline: scroll(root);
  animation-range-start: 50px;
  animation-range-end: 100px;
}

@keyframes scroll-border {
  to {
    @apply border-b border-s-teal-100;
  }
}

@keyframes btnColor {
  to {
    @apply border-none bg-slate-950 text-white;
  }
}

ul.nav {
  & > li {
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      @apply rounded-full bg-teal-700 ease-out duration-100;
    }
  }
}

.btn-signout {
  @apply border border-neutral-400 rounded-lg px-3 py-2;
  animation: btnColor forwards 0.5s;
  animation-timeline: scroll(root);
  animation-range-start: 50px;
  animation-range-end: 100px;
}